# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Dataset
data/raw/
data/processed/
data/faces/
data/test/
data/temp_frames/
data/temp_faces/

# Ignore models by default
models/*

# Keep deployment models
!models/
!models/resnet18_final.pth
!models/deploy.prototxt
!models/res10_300x300_ssd_iter_140000.caffemodel

# Uploaded videos
static/uploads/
uploads/*

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# Backup files
*_backup.*