# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Dataset
data/raw/
data/processed/

# Ignore all models by default
models/*

# Keep deployment models
!models/resnet18_final.pth
!models/deploy.prototxt
!models/res10_300x300_ssd_iter_140000.caffemodel

# Keep final deployment models
!models/
!models/resnet18_final.pth
!models/deploy.prototxt
!models/res10_300x300_ssd_iter_140000.caffemodel
# Uploaded videos
uploads/*

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/
data/faces/
static/uploads/
data/temp_frames/
data/temp_faces/
data/test/

# Backup files
*_backup.*