# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Dataset
data/raw/
data/processed/

# Trained models
models/
# Uploaded videos
uploads/*

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/
data/faces/