<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Deepfake Detection</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

    <div class="container">

        <h1>Deepfake Detection System</h1>

        <p>
            Upload a face image to check whether it is Original or Deepfake.
        </p>


       
        <form action="/predict" method="POST" enctype="multipart/form-data">

    <input 
        type="file" 
        name="video"
        accept="video/*"
        required
    >

    <br><br>

    <button type="submit">
        Analyze Video
    </button>

</form>

    </div>


</body>

</html>